* {
    font-family: sans-serif;
    font-size: 20px;
}


h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.description li {
    font-weight:lighter;
}



.content{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

hr {
    color: #2a59a7;
    height: 12px;
    background: #2a59a7;
}

.date {
    color: #979797;
    font-size: .75em;
    font-weight: lighter;
    padding-top: 0px;
    margin-top: 0px;
}

.subheader {
    font-size: 24px;
    font-weight: lighter;
}

.stand-out-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
    align-items: center;
}

.stand-out-list li{
    border: #2a59a7 2px solid;
    padding: 2px;
    max-width: 200px;
}

.blue {
    color: #2a59a7;
}


.no-bullet li {
    list-style-type: none;
    padding: 5px 0px;
    margin: 5px 0px;
}